* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  height: 100vh;
  display: grid;
  grid-auto-flow: row;
  color: white;
  background-image: url("https://images.pexels.com/photos/2312040/pexels-photo-2312040.jpeg");
  background-size: cover;
  background-color: blue;
  background-blend-mode: darken;
}

.title {
  font-size: 30px;
}

.header {
  background-color: rgba(8, 8, 15, 0.637);
  padding-left: 60px;
  height: 70px;
  width: 100%;
  position: fixed;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.star-figure {
  margin-top: 10px;
  width: 2px;
  height: 5px;
  background-color: rgb(94, 91, 245);
  border-radius: 50%;
  animation-name: glow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 3s;
}

@keyframes glow {
  from {
    box-shadow: 0 0 -5px 5px rgb(75, 30, 238);
  }
  to {
    box-shadow: 0 0 18px 10px rgb(49, 9, 250);
  }
}

.header-left {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap: 13px;
}

.header-right {
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  gap: 60px;
  padding-right: 100px;
}

.footer {
  height: 60px;
  width: 100%;
  background-color: rgba(8, 8, 15, 0.637);
  align-self: flex-end;
  position: fixed;
}

input {
  height: 30px;
  width: fit-content;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 15px;
}

button {
  height: 30px;
  width: fit-content;
  padding: 5px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
}

select {
  height: 30px;
  width: 20px;
  color: white;
  background: transparent;
  border: none;
}

option {
  background-color: rgb(2, 2, 39);
  font-size: 15px;
}

.main-text{
  text-align: center;
  font-size: 30px;
}

main {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.article-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

article {
  display: grid;
  height: 450px;
  grid-auto-flow: row;
  gap: 10px;
  justify-items: center;
  text-align: center;
  box-shadow: 0 0 5px 1px rgb(2, 2, 27);
  background-color: aliceblue;
}

article img {
  width: 500px;
  height: 380px;
  object-fit: cover;
}

article h3 {
  width: 500px;
  color: rgb(7, 3, 29);
  font-size: medium;
  padding-bottom: 10px;
}
