* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-auto-flow: row;
  color: white;
  background-image: url("https://images.pexels.com/photos/2312040/pexels-photo-2312040.jpeg");
  background-size: cover;
  background-color: blue;
  background-blend-mode: darken;
}

.title {
  font-size: 30px;
}

.header {
  background-color: rgba(8, 8, 15, 0.288);
  padding-left: 60px;
  height: 70px;
  width: 100%;
  position: fixed;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.068);
}

.star-figure {
  margin-top: 10px;
  width: 2px;
  height: 5px;
  background-color: rgb(94, 91, 245);
  border-radius: 50%;
  animation-name: glow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 3s;
}

@keyframes glow {
  from {
    box-shadow: 0 0 -5px 5px rgb(75, 30, 238);
  }
  to {
    box-shadow: 0 0 18px 10px rgb(49, 9, 250);
  }
}

.header-left {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap: 13px;
}

.header-right {
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  gap: 60px;
  padding-right: 100px;
}

.footer {
  height: 60px;
  width: 100%;
  background-color: rgba(8, 8, 15, 0.432);
  align-self: flex-end;
  position: fixed;
  border-top: 1px solid rgba(255, 255, 255, 0.068);
}

input {
  height: 30px;
  width: fit-content;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 15px;
}

button {
  height: 30px;
  width: fit-content;
  padding: 5px;
  background-color: transparent;
  color: white;
  border-bottom: 1.7px solid white;
  font-size: 15px;
}

button:hover{
background-color: rgba(255, 255, 255, 0.103); 
}

select {
  height: 30px;
  width: 20px;
  color: white;
  background: transparent;
  border: none;
}

option {
  background-color: rgb(1, 1, 22);
  font-size: 15px;
}

.main-text{
  text-align: center;
  font-size: 30px;
}

main {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 95px;
}

.article-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
}

article {
  display: grid;
  height: 450px;
  grid-auto-flow: row;
  gap: 10px;
  justify-items: center;
  text-align: center;
  box-shadow: 0 0 5px 1px rgb(2, 2, 27);
  background-color: aliceblue;
}

article img {
  width: 500px;
  height: 380px;
  object-fit: cover;
}

article h3 {
  width: 500px;
  color: rgb(7, 3, 29);
  font-size: medium;
  padding-bottom: 10px;
}

a{
  text-decoration: none;
  color: white;
}

.details-container{
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  gap: 100px;

}

.details-container img{
  width: 480px;
  height: 500px;
  object-fit: cover;
  
}

.details{
  display: grid;
  grid-auto-flow: row;
}
.details h2{
  width: 600px;
}
.details p{
  width: 600px; 
  font-size: 15px;
  font-weight: 100;
  word-spacing: 3px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.details button{
border: 1px solid white;
}

.details input{
  text-align: left;
  width: max-content;
}

.details form{
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap: 10px;
}

.details ul{
list-style: none;
display: grid;

border: 1px solid white;
padding: 15px;
}

.bookmarks-container{
  display: grid;
  grid-auto-flow: row;
  align-self: baseline;
  margin-top: 100px;
  gap: 40px;

}

.bookmarks-container img{
  width: 50px;
  height: 50px; 
  object-fit: cover;
}

.bookmarks-container ul{
  list-style: none;
  display: grid;
  gap: 10px;
}

.bookmark-detail{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap:30px;
  padding: 10px;
  border-bottom: 1px solid white;
}

.bookmark-detail p,
.bookmark-detail h2
{
  width: 700px; 
  height: 30px; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bookmark-detail button{
  border: 1px solid white
}